@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "bootstrap/scss/vendor/rfs" as rfs;

:root {
	--font-headings: #{v.$font-headings};
	--font-body: #{v.$font-body};
	--font-script: #{v.$font-script};
	--font-serif: #{v.$font-serif};
	--transition-standard: #{v.$transition-standard};

	--cno-accessible-color-filter: brightness(130%) saturate(120%);
}

html {
	text-wrap: pretty;
}

ul,
ol {
	margin-left: 1.25rem;
	@include rfs.font-size(1.35rem);
}

body,
p,
.text-content {
	@include rfs.font-size(1.35rem);
}

.btn svg {
	height: 1.25rem;
}

.diamonds svg {
	@include m.media-breakpoint-down(lg) {
		height: 12px;
	}
}

/**
* Leaving here for now.
* This was a designer's nitpick.
* It's very easy to fix, but l'm leaving it off at Blake's request.
*/

// .container,
// .container-fluid {
// 	@include m.media-breakpoint-down(sm) {
// 		--bs-gutter-x: 3rem;
// 	}
// }

blockquote.wp-block-quote p.fade-in-init {
	font-size: calc(1.3324rem + 0.9888vw) !important;

	@include m.media-breakpoint-up(xl) {
		font-size: 2.074rem !important;
	}
}
