@use "./gutenberg-type-overrides";

body {
	text-wrap: pretty;
	word-break: normal;
}

[class*="fs-"] > p {
	font-size: inherit;
}

a {
	transition: color var(--transition-standard);
}

// HEADINGS

$headings: h1, h2, h3, h4, h5, h6;

@each $heading in $headings {
	#{$heading},
	.#{$heading} {
		text-wrap: balance;
	}
}
