@use "bootstrap/scss/vendor/rfs" as rfs;
.font-gill-sans {
	font-family: var(--font-body);
}

.font-pill-gothic {
	font-family: var(--font-headings);
}

.font-script {
	font-family: var(--font-script);
}

.font-serif {
	font-family: var(--font-serif);
}

.fs-base {
	@include rfs.font-size(1rem);
}

@keyframes bounce-left {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-25%);
	}
}

.bounce-left {
	animation: bounce-left 0.75s ease-in-out;
}

@keyframes bounce-left-small {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-10%);
	}
}

.bounce-left-small {
	animation: bounce-left-small 0.75s ease-in-out;
}

$letter-spacing: (
	1: 2,
	2: 4,
	3: 8,
);

@each $key, $value in $letter-spacing {
	.ls-#{$key} {
		letter-spacing: #{$value}px;
	}
}
