.font-gill-sans {
	font-family: var(--font-body);
}

.font-pill-gothic {
	font-family: var(--font-headings);
}

.font-script {
	font-family: var(--font-script);
}

.font-serif {
	font-family: var(--font-serif);
}

@keyframes bounce-left {
	0%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-25%);
	}
}

.bounce-left {
	animation: bounce-left 0.75s ease-in-out;
}
