@use "../abstracts/mixins" as m;
@use "./social-media";

.footer .container-xxl {
	// --bs-gutter-x: 3rem;
	@include m.media-breakpoint-up(lg) {
		--bs-gutter-x: 6rem;
	}
}

.footer-link-text {
	--cno-link-color: white;
	color: var(--cno-link-color);
	transition: color var(--transition-standard);

	@include m.interaction() {
		color: var(--cno-link-hover-color);
	}
}

#socials {
	.social-container {
		--size: 3rem;
		width: var(--size);
		aspect-ratio: 1;
	}
}
