@use "../abstracts/mixins" as m;
@use "./social-media";

.footer-link-text {
	--cno-link-color: white;
	color: var(--cno-link-color);
	transition: color var(--transition-standard);

	@include m.interaction() {
		color: var(--cno-link-hover-color);
	}
}
