@use "../abstracts/mixins" as m;
@use "./social-media";

.footer .container-xxl {
	--bs-gutter-x: 6rem;
	@include m.media-breakpoint-up(lg) {
		--bs-gutter-x: 3rem;
	}
}

.footer-link-text {
	--cno-link-color: white;
	color: var(--cno-link-color);
	transition: color var(--transition-standard);

	@include m.interaction() {
		color: var(--cno-link-hover-color);
	}
}
