@use "../abstracts/mixins" as m;

#site-header {
	z-index: 1000;

	@include m.media-breakpoint-up(sm) {
		--bs-gutter-x: 6rem;
	}

	.btn-close {
		opacity: 1;
	}
}

%active_menu_state {
	border-bottom: var(--bs-border-width) var(--bs-border-style)
		var(--bs-border-hover-color) !important;

	@include m.media-breakpoint-up(lg) {
		filter: brightness(130%) saturate(120%);
	}
}

.navbar-nav#main-menu {
	.nav-link {
		--bs-nav-link-color: var(--bs-dark);
		--bs-border-color: transparent;

		transition:
			color var(--transition-standard),
			filter var(--transition-standard),
			border var(--transition-standard);

		@include m.interaction() {
			@extend %active_menu_state;
		}

		@include m.media-breakpoint-up(lg) {
			--bs-nav-link-color: white;
		}
	}
	.active .nav-link {
		@extend %active_menu_state;
		color: var(--bs-nav-link-hover-color);

		@include m.interaction() {
			filter: unset;
		}
	}

	.active .nav-link {
		@extend %active_menu_state;
		color: var(--bs-nav-link-hover-color);

		@include m.interaction() {
			filter: unset;
		}
	}

	.search-button {
		span {
			transition:
				color var(--transition-standard),
				border var(--transition-standard);
		}

		figure {
			transition: color var(--transition-standard);

			@include m.interaction() {
				color: var(--hover-color);
			}

			@include m.media-breakpoint-up(lg) {
				color: white;
			}
		}
	}

	.nav-item {
		@include m.interaction() {
			.search-button span {
				--bs-border-color: var(--hover-color);
				color: var(--hover-color);
			}
		}
	}
}
