@use "../abstracts/mixins" as m;

#site-header {
	z-index: 1000;
	--bs-gutter-x: 6rem;
}

.logo {
	--size: 5rem;
	width: var(--size);
	height: var(--size);

	@include m.media-breakpoint-up(lg) {
		--size: 7.5rem;
	}
}

.navbar-nav#main-menu {
	.nav-link {
		--bs-nav-link-color: var(--bs-dark);
		--bs-border-color: transparent;

		transition:
			color var(--transition-standard),
			border var(--transition-standard);

		@include m.interaction() {
			border-bottom: var(--bs-border-width) var(--bs-border-style)
				var(--bs-border-hover-color) !important;
		}

		@include m.media-breakpoint-up(lg) {
			--bs-nav-link-color: white;
		}
	}

	.search-icon {
		color: white;
		transition: color var(--transition-standard);

		@include m.interaction() {
			color: var(--hover-color);
		}
	}
}
