@use "../abstracts/mixins" as m;

#site-header {
	z-index: 1000;
}

.logo {
	--size: 5rem;
	width: var(--size);
	height: var(--size);

	@include m.media-breakpoint-up(lg) {
		--size: 7.5rem;
	}
}

.navbar-nav#main-menu {
	.nav-link {
		--bs-nav-link-color: var(--bs-dark);

		@include m.media-breakpoint-up(lg) {
			--bs-nav-link-color: white;
		}
	}

	.search-icon {
		color: white;
		transition: color var(--transition-standard);

		@include m.interaction() {
			color: var(--hover-color);
		}
	}
}
