@use "../abstracts/mixins" as m;

.hero {
	height: clamp(300px, 60vh, 600px);

	&__bg-image {
		object-position: center;
	}

	.display-1 {
		font-size: 140px;
	}
}

.front-page-hero {
	--header-height: 84px;
	height: calc(100vh - var(--header-height));

	@include m.media-breakpoint-up(lg) {
		--header-height: 96px;
	}

	#scroll-down-icon {
		--size: 40px;
		width: var(--size);
		height: var(--size);
	}
}

body:has(.front-page-hero) {
	.front-page-hero {
		--header-height: 116px;

		@include m.media-breakpoint-up(lg) {
			--header-height: 128px;
		}
	}
}
