@use "../abstracts/mixins" as m;

.post-preview-card {
	&__overlay {
		transition: background-color var(--transition-standard);
	}

	&:has(button:disabled) {
		cursor: not-allowed;
	}

	&__cta-button {
		--bs-btn-disabled-opacity: 1;
		filter: var(--cno-accessible-color-filter);

		@include m.interaction() {
			filter: unset;
		}
	}
}
