:where(#category-preview) {
	.bg-image {
		object-fit: cover;
		object-position: left bottom;
	}

	:where(#header-container .diamonds) {
		transform: translate(20%, 50%);
	}

	p.display-1 {
		transition: opacity var(--transition-standard);
	}

	.swiper {
		--swiper-pagination-color: var(--bs-white);
		--swiper-pagination-bullet-inactive-color: var(--bs-white);
		--swiper-pagination-bullet-inactive-opacity: 0.4;
		--swiper-pagination-bottom: -35px;
	}
}
