@use "../abstracts/mixins" as m;
@use "../abstracts/fluid-type-utils" as fluid-type;

.featured {
	&__image {
		img {
			@include m.media-breakpoint-up(lg) {
				object-position: 45% center;
			}
		}
	}

	&__title {
		font-size: fluid-type.clamped(64px,144px);
		line-height: calc(2ex);
	}

	&__subtitle {
		text-wrap: balance;
	}

	&__btn {
		&--story {
			--bs-btn-bg: white;

			@include m.interaction {
				background-color: var(--bs-gray);
			}
		}
	}
}
