@use "../abstracts/mixins" as m;

.featured {
	&__image {
		// max-height: 800px;

		// img {
		// 	@include m.media-breakpoint-down(lg) {
		// 		height: 100%;
		// 	}
		// }
	}

	&__title {
		--upper-font-size: 9rem;
		font-size: clamp(3rem, 90vw, var(--upper-font-size));
		line-height: 0.95;

		@include m.media-breakpoint-down(xl) {
			--upper-font-size: 7rem;
		}

		@include m.media-breakpoint-down(md) {
			--upper-font-size: 4rem;
		}
	}

	&__subtitle {
		text-wrap: balance;
	}

	&__btn {
		&--story {
			--bs-btn-bg: white;

			@include m.interaction() {
				background-color: var(--bs-gray);
			}
		}
	}
}
