// @use "bootstrap/scss/vendor/rfs" as rfs;
@use '../abstracts/fluid-type-utils' as fluid-type;

.statements {
	.statement {
		font-size: fluid-type.clamped(80px, 180px);
		line-height: calc(2ex + 4px);
	}

	p {
		margin-top: -10px;
	}
}
