@use "../../abstracts/mixins" as m;

.profile-hero {
	height: clamp(300px, 60vh, 450px);

	@include m.media-breakpoint-up(lg) {
		--header-height: 96px;
		height: calc(100vh - var(--header-height));
	}
}
