@use "../../abstracts/mixins" as m;
@use "../../abstracts/functions" as fn;

// Link Customizer
$categories: ("artists", "culture", "inspirational", "competitors");

@each $category in $categories {
	:root :where(.single .category-#{$category}) a {
		transition: all var(--transition-standard);

		@include m.interaction {
			filter: var(--cno-accessible-color-filter);
		}

		&:not(.wp-block-button__link) {
			color: fn.get-category-color($category);
		}
	}
}

.social-share-bar {
	.socials a {
		filter: var(--cno-accessible-color-filter);

		@include m.interaction {
			filter: unset;
		}
	}
}
