@use "../../abstracts/mixins" as m;

.swiper {
	height: 500px;
	max-height: 100vw;

	.swiper-slide {
		aspect-ratio: 1;
	}

	#swipe-text {
		left: 5%;
		bottom: -5px;

		@include m.media-breakpoint-up(sm) {
			left: 5%;
		}
	}

	[data-hash="slide3"] {
		--max-width: 85%;

		.media-container {
			aspect-ratio: 1;
			max-width: var(--max-width);

			& > * {
				height: 100%;
			}
		}

		figcaption {
			max-width: var(--max-width);
		}
	}
}
