@use "../abstracts/mixins" as m;
@use "../components/single/hero";
@use "../components/single/diamond-separator";

.portrait-container {
	aspect-ratio: 2 / 3;
}

.parallax-container {
	position: relative;
	height: auto;

	@include m.media-breakpoint-up(lg) {
		overflow: hidden;
		height: var(--figure-height, 820px);
	}
}

.parallax {
	@include m.media-breakpoint-up(lg) {
		position: absolute;
		z-index: -1;
		inset: 0;
	}
}

.social-share-bar {
	.socials a {
		@include m.interaction() {
			filter: unset;
		}

		@include m.media-breakpoint-up(lg) {
			filter: brightness(130%) saturate(120%);
		}
	}
}
