@use "../abstracts/mixins" as m;
@use "../components/single/link-color-overrides";
@use "../components/single/hero";
@use "../components/single/diamond-separator";

/**
* Utility CSS Classes below
* These are meant to be used with ACF fields.
* They may have no effect on Blocks.
*/

.portrait-container {
	aspect-ratio: 2 / 3;
}

.parallax-container {
	position: relative;
	height: auto;

	@include m.media-breakpoint-up(lg) {
		overflow: hidden;
		height: var(--figure-height, 820px);
	}
}

.parallax {
	@include m.media-breakpoint-up(lg) {
		position: absolute;
		z-index: -1;
		inset: 0;
	}
}
